/* =====================================
        TECHSPACE v2
        PROFESSIONAL CYBER THEME
===================================== */


:root {

    --black:#050505;
    --dark:#0b0b0b;
    --card:#111111;

    --yellow:#f5c518;
    --yellow-light:#ffd84d;

    --white:#ffffff;
    --gray:#a7a7a7;

    --border:
    rgba(245,197,24,.25);

    --gold-glow:
    0 0 35px rgba(245,197,24,.22);

    --shadow:
    0 25px 70px rgba(0,0,0,.6);

}



/* ===============================
        RESET
================================ */


* {

    margin:0;
    padding:0;
    box-sizing:border-box;

    font-family:
    "Inter",
    "Segoe UI",
    Arial,
    sans-serif;

}


html {

    scroll-behavior:smooth;

}


body {


    background:

    radial-gradient(
    circle at top right,
    rgba(245,197,24,.10),
    transparent 35%
    ),

    radial-gradient(
    circle at bottom left,
    rgba(245,197,24,.07),
    transparent 35%
    ),

    var(--black);


    color:var(--white);

    overflow-x:hidden;

}



a {

    text-decoration:none;

    color:inherit;

}







/* ===============================
        NAVBAR